#onScreenKeyboard {
  box-sizing: border-box;
  position:absolute;
  width: 100%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  background-color: #f3f3f3;
}

#onScreenKeyboard .secondary-keyboard {
  display: none;
}

#onScreenKeyboard.relative {
  position: relative !important;
  left: 0%;
  transform: none;
}

#onScreenKeyboard > * {
  display: flex;
  flex-flow: column !important;
  width: 100%;
}

#onScreenKeyboard.relative .keyRow {
  flex-flow: row !important;
}

#onScreenKeyboard.numbers {
  width: auto;
}

#onScreenKeyboard.autoDisplay {
  display: inline-block !important;
}

#onScreenKeyboard .keyRow {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  position: Relative;
  flex-wrap: wrap;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}

#onScreenKeyboard .key.first {
  background-color: white !important;
}

#onScreenKeyboard .currentRow {
  padding-bottom: 0px !important;
  margin-bottom: 0px;
}

#onScreenKeyboard .keyRow .key {
  display: inline-block;
  color: #444;
  font-weight: 600;
  font-size: 30px;
  border-radius: 5px;
  background-color: white;
  margin-right: 5px;
  display: flex;
  flex-wrap: flex;
  justify-content: center;
  align-items: center;
  line-height:0;
  height: 100px;
  width: 100px;
}

#onScreenKeyboard .keyRow .key:last-child {
  margin-right: 0px !important;
}

#onScreenKeyboard .keyRow .key.shift, #onScreenKeyboard .keyRow .key.caps {
  text-transform: uppercase;
}

#onScreenKeyboard .keyRow .key:active {
  background-color: #bb2b2b;
  color: white;
}

.secondary-keyboard {
  display: none;
}

.key.active {
  background-color: #bb2b2b;
  color: white;
}

.key.special {
  width: auto !important;
  min-width: 100px;
  padding: 0px 15px;
  flex: 1;
}

.key.special.buffer {
  color: transparent !important;
  pointer-events: none;
}

.key.simple-back-space {
    color: transparent !important;
    overflow: hidden;
    background: url(/static/img/backspace.svg);
    background-color: #bb2b2b !important;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.spacebar-key {
  width: 100% !important;
}

.shift-key {
  flex: 1 0 auto;
}

.backspace-key {
  flex: 1 0 auto;
}

.caps-key {
  flex: 3 0 auto;
}

.next-key {
  flex: 2 0 auto;
}

.simple-submit {
  color: transparent !important;
  overflow: hidden;
  background: url(/static/img/submit.svg);
  background-color: #30b913 !important;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  opacity: 0.8
}

.hidden {
  display: none;
}